body{
	display : flex;
	justify-content: center;
	align-items : center;
	min-height : 100vh;
	background-color : #1F242A;
	margin-0;
}
.container{
	
	display : grid;
	grid-template-columns: repeat(40, 20px);
	gap : 2px;
	
}
.square{
	
	width : 20px;
	height: 20px;
	transition : background-color 1s;
	border-radius : 4px;
	background-color : #303841;
	
}